*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: rgb(144, 19, 216);
}

#main-div{
    /* background-image: linear-gradient(to bottom, rgb(211, 23, 23), rgb(1, 1, 100)); */
    /* background-image: linear-gradient(to bottom, rgb(211, 23, 23), rgb(3, 2, 2)); */
    background-image: linear-gradient(to bottom, rgb(95, 23, 211), rgb(3, 2, 2));
    /* background-image: linear-gradient(to bottom, rgb(211, 23, 23), rgb(3, 2, 2)); */
    position: absolute;
    height: 600px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

#tasks-div{
    padding:10px 0px 0px 50px;
}
button{
    /* background-image: linear-gradient(to right, rgb(1, 16, 19), rgb(24, 93, 105)); */
    background-image: linear-gradient(to top, rgb(126, 0, 138), rgb(24, 93, 105));
    /* background-image: linear-gradient(to top, rgb(126, 0, 138), rgb(184, 86, 184)); */
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 1px solid rgb(31, 152, 173);
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 5px;
}

button:hover{
    background-image: linear-gradient(to bottom, rgb(126, 0, 138), rgb(66, 152, 165));
}

table{
    height: 200px;
    /* background-color: rgba(0, 0, 0, 0.664); */
    /* font-weight: 700; */
    border-collapse: collapse;
    /* border: 1px solid rgb(211, 23, 23); */
    position:absolute;
    width: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-left: 15%; */
    
}

.column-1{
    text-align: left;
}
.column-2{
    text-align: right;
}

table th, td{
    color: white;
}


.table-footer{
    border-top: 1px solid red;
}

.table-footer td{
    height: 50px;
    /* text-align: justify; */
}

#sendinvoice-btn {
    /* color: green; */
    position: absolute;
    top: 50%;
    left: 38%;
}